<% title "登录" %>

<style type="text/css">
.loginBox{padding:0px 0px 0px 50px;color:#000;border-radius:0px;background:white;font:11px/1.5em 'Microsoft YaHei';}
.loginBox h2{height:45px;font-size:20px;font-weight:normal;}
.loginBox .left{border-right:0px solid #ccc;height:100%;padding-right: 20px;}
</style>

<div>
<%= form_tag "/auth/identity/callback" do %>
  <section class="loginBox">
    <section class="span6 left">
      <h2>登录</h2>
      <p>Email：<%= text_field_tag :auth_key %></p>
      <p>密码：<%= password_field_tag :password %></p>
      <section>
        <section class="span5 lh30"><label><input type="checkbox" name="rememberme" />下次自动登录</label></section>
        <section class="span1">
          <%= submit_tag "登录", :class => "btn btn-primary" %>
        </section>
    </section>
    <section class="span5 left" style="float: left;">
      <h2>没有帐户？</h2>
      <section>
        <p>这里有一段文字啊，很多的文字啊，太多太多的文字了，主要可以介绍介绍注册的好处和公司或者项目概况。。。</p>
        <p>
          <%= link_to "注册", new_identity_path, :class => "btn" %>
        </p>
      </section>
    </section>
  </section><!-- /loginBox -->
<% end %>
</div>
