<% content_for :style do %>
  <style type="text/css">
  </style>
<% end %>

<div class="row" style="margin-left:0px;margin-top: 16px;">
  <%= render 'navbar' %>
  <div style="margin-left: 0px">
    <ul>
      <% @jobs.each do |job| %>
        <li>
          <h5><%= link_to :controller => 'jobs', 
              :action => 'show', :id => job.id do %>
                <% if params[:search_txt] %>
                  <%=raw job.name.gsub(/#{params[:search_txt]}/im, "<span style='color:#fff;background:yellow'>#{params[:search_txt]}</span>") %>
                <% else %>  
                  <%= sanitize job.name %>
                <% end %>
              <% end %>
          </h5>
          <p>
            <%= params[:search_txt] ? hight_light(job.description, params[:search_txt]) : (sanitize job.description) %>
          </p>
          <span><%= sanitize job.company.name %></span>
        </li>
      <% end %>
    </ul>
    <p><%= paginate @jobs %></p>
  </div>

</div>

  

