<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p><%= Time.now%></p>
<% cxt = V8::Context.new %>
<%= cxt.eval('7 * 6') %>

<table border="1">
<% for header in request.env.select {|k,v| k.match("^HTTP.*")} %>
  <tr>
    <td><%=header[0].split('_',2)[1]%></td><td><%=header[1]%></td>
  </tr>
<% end %>
</table>

<br>
<%= jobs_path %>
<br>
<%= link_to "abc", job_path(1) %>
<br>
<%= job_path(1) %>
<br>
<%= job_archive_path(2012,10)%>
<br>
<%= job_archive_path(:year => 2012,:month => 10)%>
<br>
<%= @remote_ip %>

<% 
	#session[:count]  = 0 unless session[:count]
	#session[:count]  = session[:count] + 1
%>

<br> <%= session[:count] %>
<%= Rails.env %>
<%# Rails.cache.clear %>
