<% title "公司" %>

<ul>
<% @companys.each do | company| %>
  <% if company.jobs.length > 0 %>
    <li class="jobblock">
    	<h5><%= link_to "#{sanitize company.name}", :controller => 'companys', :action => 'show', :id => company.id %></h5>
      <p>
          <% company.jobs.to_enum.with_index(1).each do |job, index| %>
            <span class="jobname"><%= link_to "#{index.to_s}.  #{job.name}", job_path(job) %></span>
          <% end %>
      </p>
    </li>
  <% end %>  
<% end %>
</ul>

<!-- <table>
<% @companys.in_groups_of(3, false) do |row_companys| %>
  <tr>
    <% for company in row_companys %>
      <td valign="top" style="width:290px;">
        <%= link_to "#{sanitize company.name}", :controller => 'companys', :action => 'show', :id => company.id %>
        <p>
          <% company.jobs.each do |job| %>
            <span><%= job.name %></span>
          <% end %>
        </p>
      </td>
    <% end %>
  </tr>
<% end %>
</table> -->

<p><%= paginate @companys %></p>